.forgotten-password-container{
    margin: 10rem auto;
    text-align: center;

    form{
        min-width: 250px;
        max-width: 400px;
        min-height: 200px ;
        margin: 0 auto;
        box-shadow: 0 5px 10px -3px grey;
        padding: 1rem;
        border-radius: 10px;
        &:hover{
            box-shadow: 0 5px 10px -3px rgb(185, 102, 241);
        }

        input{
            text-align: center;
            font-size: 18px;
            padding: 0.5rem 0 ;
            min-width: 250px;
            border-bottom: 3px solid grey
        }
        h2{
            margin-bottom: 2rem;
        }

        button{
            margin: 2rem 0;
            font-size: 18px;
            padding: 0.5rem 2rem;
            box-shadow: 0px 5px 10px -3px grey;
            &:hover{
                transition: 0.5s;
                background: rgb(185, 102, 241);
                color: white;
                box-shadow: 0px 5px 10px -3px rgb(185, 102, 241);
            }
        }
    }
    .sent{
        padding: 2rem;
        font-size: 1rem;
        box-shadow: 0px 5px 10px -3px rgb(65, 211, 114);
    }
    
}