.reset-password-container{
    text-align: center;
    margin-top: 5rem;
    min-height: 37rem;

    form{
        min-width: 250px;
        max-width: 300px;
        min-height: 200px ;
        margin: 0 auto;
        box-shadow: 0 5px 10px -3px grey;
        padding: 1rem;
        text-align: left;
        border-radius: 10px;
        &:hover{
            box-shadow: 0 5px 10px -3px rgb(185, 102, 241);
        }

        input{
            font-size: 18px;
            margin-bottom: 1rem;
            min-width: 260px;
            &:hover{
                border-right: 4px solid rgb(185, 102, 241);
            }
        }
        .update-pass-btn{
            padding: 0.5rem 2rem;
            box-shadow: 0px 5px 10px -3px grey;
            &:hover{
                transition: 0.5s;
                background: rgb(185, 102, 241);
                color: white;
                box-shadow: 0px 5px 10px -3px rgb(185, 102, 241);
            }
        }
        .eyes{
            margin-bottom: 1rem ;
            font-size:2rem;
            &:hover{
                transition: 0.5s;
                color: rgb(185, 102, 241);
            }
        }
    }
    
}