//password
.changepassword_container{
    margin-top: 3rem;
    text-align: center;

    .user-password-btn{
        padding: 0.5rem;
        background-color: #4fd680;
        width: 300px;
        color: ghostwhite;
        font-size: 18px;
        box-shadow: 0 5px 10px -3px grey;
        &:hover{
            background-color: rgb(70, 134, 253);
            color: ghostwhite;
        }
    }

    .open{
        background-color: rgb(70, 134, 253);
    }

    .input-password-container{
        margin-top: 1rem;

        input{
            font-size: 20px;
            cursor: pointer;
            border-bottom: 3px solid grey;
            padding: 0.5rem;
            width: 400px;
            margin: 0.5rem;

            &:hover{
                transition: 0.5s;
                border-bottom: 3px solid #4fd680;
            }
        }

        button{
            font-size: 1rem;
            margin-top: 1rem;
            padding: 0.5rem;
            box-shadow: 0 5px 10px -3px grey;

            &:hover{
                transition: 0.5s;
                color: ghostwhite;
                background-color:#4fd680;
            }
        }
    }
}

//MOBILE AREA
@media only screen and (max-width: 550px) {

    .changepassword_container{
        .input-password-container{
            margin-top: 1rem;

            input{
                font-size: 16px;
                width: 300px;
            }
        }
    }

}