.no-access{
    margin-top: 8rem;
    text-align: center;
    font-size: 30px;
    min-height: 33rem;

    a{
        color: grey;
        
        &:hover{
            color: #4fd680;
        }
    }

}