.navbar{
    background: #4fd680;
    border-bottom: 3px solid white;
    height: 4rem;
}

/* the footer */
footer {
    background-color: #4fd680;
    height: 8rem;
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    margin-top: 10rem;

    li{
        cursor: pointer;
        display: inline-block;
        margin: 0px 8px;
        margin-top: 1rem;
    }
    button{
        font-size: 16px;
        a{
            transition: ease-in-out 0.5s;
            &:hover{
                color: ghostwhite;
            }
        }
    }

    .top{
        button{
            font-size: 1.5rem;
            &:hover{
                color: ghostwhite;
            }
        }
    }
};

/*LOGIN & SIGNUP*/
.guest_nav_login_signup{
    position: absolute;
    right: 0;

    li {
        font-size: 20px;
        float: right;
        margin: 1.3rem 10px;
    }
    a {
        color: ghostwhite;
        padding-top: 20px;
        padding-bottom: 25px;
    }

    a:hover {
        border-bottom: 3px solid ghostwhite;
        padding-bottom: 0.3rem;
    }
}

  

/*AUTHENTICATED NAVBAR*/
.auth_nav_profile {
    text-align: right;
    
    .following-content{
        right: 0;
        position: absolute;
        margin-top: 0.7rem;
        margin-right: 6rem;
        li{
            font-size: 20px;
            display: inline-block; 
            padding: 0.5rem;
        }
        a{
            color: ghostwhite;
            &:hover{
                text-shadow: 2px 2px 2px rgb(1, 139, 70);
            }
        }
    }

    .avatar-img{
        width: 65px;
        height: 64px;
        border: 4px solid ghostwhite;
        transition: ease-in-out 0.5s ;

        &:hover{
            border: 4px solid rgb(1, 255, 158);
        }
    }

    .dropbtn {
        background-color:transparent;
        color: ghostwhite;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 4.2rem;
    };

    .dropdown {
        right: 1rem;
        position: absolute;
        display: inline-block;
        top:0rem
    };

    .dropdown-content {
        display: none;
        position: absolute;
        width: 10rem;
        z-index: 999999;
        text-align: center;
        background-color: white;
        right: -1rem;
        margin-top: 0px;
        box-shadow: 0px 3px 5px 0px grey;

        &:hover{
            transition: 0.5s;
            box-shadow: 0px 3px 5px 0px #4fd680;
        }
    
        a {
            color: black;
            text-decoration: none;
            display: block;
            font-size: 15px;
            margin: 1rem;
            text-align: right;
            &:hover{
                border-left: 4px solid #4fd680;
                padding-bottom: 0.2rem ;
            }
        }
    };

    .dropdown:hover .dropdown-content {
        display: block;
        color: ghostwhite;
    };
};

/* Global ALlert Styles */
@mixin text-color($colour){
    color: $colour;
    text-align: center;
}
  
.alert {
@include text-color(#333);
position: fixed;
left: 0;
right: 0;
margin: 0 auto;

font-size: 1rem;
line-height: 2.5rem;
min-width: 20rem;
max-width: 30rem;
height: 2.5rem;

background: black;
z-index: 9999;
}

:root {
--primary-color: #17a2b8;
--dark-color: #343a40;
--light-color: #f4f4f4;
--danger-color: #dc3545;
--success-color:  #1bd864;
}
.alert-primary {
background: var(--primary-color);
@include text-color(#fff);
}

.alert-dark {
background: var(--dark-color);
@include text-color(#fff);
}

.alert-danger {
background: var(--danger-color);
@include text-color(#fff);
}

.alert-success {
background: var(--success-color);
@include text-color(#fff);
}

.alert-light {
background: var(--light-color);
@include text-color(#333);
}

/* MOBILE ALERT AREA */
@media only screen and (max-width: 550px) {
    .alert {
        line-height: 2rem;
        width: 18rem;
        height: 2rem;
        font-size: 12px;
        z-index: 9999;
    }
}

/* MOBILE AREA */
@media only screen and (max-width: 550px) {
    .navbar{
        background-color: #4fd680;
        height: 3.5rem;
    }

/*AUTHENTICATED NAVBAR**************/
    .auth_nav_profile {
        text-align: center;

        .following-content{
            margin-right: 5rem ;
            margin-top: 0.2rem;
            li{
                font-size: 16px;
                display: inline-block; 
                padding: 0.5rem;
            }
        }

        .avatar-img{
            width: 50px;
            height: 50px;
            margin-top: -0.7rem;
            border: 3px solid ghostwhite;
            padding: 0.1rem;
        }

    .dropdown-content {
        background-color: white;
        width: 140px;
        margin-top: -0.6rem;
        box-shadow: 6px 3px 5px 0px grey;
    
            a {
                color: black;
                text-decoration: none;
                display: block;
                font-size: 12px;
                margin: 1rem;
            }
        
            a:hover{
                padding-bottom: 0.2rem ;
            }
        };
    }
}


@media only screen and (max-width: 370px) {
/*AUTHENTICATED NAVBAR**************/
    .auth_nav_profile {
        .following-content{
            margin-right: 4rem;
            overflow: auto;
            height: 3rem;
            li{
                font-size: 14px;
            }
        }
    }
}
    

